@model IEnumerable<Students>
@{
    Layout = "_Layout";
    ViewBag.Title = "All Students";
}

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <h1 class="mt-5 mb-5 text-center">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="card shadow-xl">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="text-center">
                        <tr>
                            <th>StudentID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>DOB</th>
                            <th>GPA</th>
                            <th>Classes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                            @foreach (var student in Model)
                            {
                                <tr>
                                    <td>@student.StudentId</td>
                                    <td>@student.FirstName</td>
                                    <td>@student.LastName</td>
                                    <td>@student.DOB.ToShortDateString()</td>
                                    <td>@student.GPA.ToString("0.0")</td>
                                    <td></td>
                                    <td>
                                        <a asp-action="EditStudent" asp-route-id="@student.StudentId" asp-controller="Students" class="btn btn-warning">
                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Edit (@student.FirstName @student.LastName)">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                        </a>
                                        <a asp-action="StudentDetails" asp-route-id="@student.StudentId" asp-controller="Students" class="btn btn-success">
                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Details For (@student.FirstName @student.LastName)">
                                                <i class="fa-regular fa-address-card"></i>
                                            </span>
                                        </a>
                                        <a asp-action="DeleteStudent" asp-route-id="@student.StudentId" asp-controller="Students" class="btn btn-danger">
                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Delete (@student.FirstName @student.LastName)">
                                                <i class="fa-solid fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>